.table-container {
  margin: 0 auto;
  max-width: 1200px;
}
.image {
  width: 30%;
}
.crypto-table {
  border-collapse: collapse;
  width: 100%;
}

.crypto-table caption {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.crypto-table th,
.crypto-table td {
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.crypto-table th {
  background-color: #f1f1f1;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
}

.crypto-table tbody tr:nth-child(even) {
  background-color: #f8f8f8;
}

.crypto-table tbody tr:hover {
  background-color: #f1f1f1;
}

.crypto-table td.name-image-cell {
  display: flex;
  align-items: center;
}

.crypto-table td.name-image-cell img {
  margin-left: 0.5rem;
}

.crypto-table td:nth-child(2),
.crypto-table td:nth-child(3),
.crypto-table td:nth-child(4) {
  text-align: right;
}

.crypto-table td:nth-child(1) {
  text-align: left;
}

.crypto-table td:nth-child(5) {
  text-align: center;
}

.crypto-table td span {
  display: block;
}

.crypto-table td a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-decoration: none;
}

.crypto-table td a:hover {
  text-decoration: underline;
}

.crypto-table td.negative {
  color: red;
}

.crypto-table td.positive {
  color: green;
}

.crypto-table input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.crypto-table input[type="text"]:focus {
  outline: none;
  border-color: #4CAF50;
}

.pagination-controls {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.name-image-cell .sp {
  display: none;
}

.name-image-cell:hover .sp {
  display: block;
  font-size: 0.8rem;
  margin-right: 0.5rem;
  color: #007bff;
  cursor: pointer;
}
