.crypto-table {
  border-collapse: collapse;
  width: 100%;
}

.crypto-table th, .crypto-table td {
  padding: 8px;
  text-align: left;
}

.crypto-table th {
  background-color: #009688;
  color: #fff;
}

.crypto-table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.crypto-table tbody tr:hover {
  background-color: #ddd;
}

.crypto-table img {
  height: 60px;
  margin-right: 8px;
}

.crypto-table a {
  color: #009688;
  text-decoration: none;
}

.crypto-table input[type="text"] {
  padding: 8px;
  margin-bottom: 16px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.crypto-table input[type="text"]::placeholder {
  color: #aaa;
}

.flex {
  display:flex;
  justify-content: center;
  align-items: center;
}