<div class="card-main">
  <div class="button-headline">
  <mat-slide-toggle (click)="showTrending()">Show trending coins!</mat-slide-toggle>
 <h1>Trending coins in last 7 days</h1>
</div>
<div class="card-container" *ngIf="isShown">
  <div class="card" *ngFor="let coin of coins">
    <img src="{{coin.item.small}}" alt="">
    <div class="card-info">
      <p>Name: {{coin.item.name}}</p>
       <p>Market Cap Rank: {{coin.item.market_cap_rank}}</p>
      <p>{{coin.item.price_btc.toString().slice(0,5)}}</p>
    </div>
  </div>
</div>
</div>
